* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: rgb(230, 230, 235);
}

nav .logo-container img {
    width: 45px;
    height: 45px;
}
/* CSS for hover effects on navbar links */
.navbar-nav .nav-link {
    color: black; /* Initial text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
    padding: 0.4rem 0.7rem;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #FFC107; 
    color: blue; /* Blue text color on hover */
  }
  

.hero {
    background: linear-gradient(to right, rgba(245,245,245,0.8), rgba(245,245,245,0.8)),url(./assets/images/common-bg.svg);
    height: 100vh;
}
.hero button {
    letter-spacing: 3px;
}
.name-container {
    max-width: 80vw;
}
.social {
    width: 80px;
    top: 35%;
    background-color: transparent;
}
.social a img {
    width: 30px;
    height: 30px;
    filter: grayscale(0.6);
    position: relative;
}

.social a img:hover {
    filter: grayscale(0);
}


@media only screen and (max-width:900px) {
    .social-icons img {
        display: none ;
    }
    .social-container {
        width: 40px;
        height: 40px;
        margin: 10px;
        object-fit: cover;
    }
    .social-container img {
        width: 100%;
        height: 100%;
    }

}

/* about */

.skills-container {
    display: flex;

}
.btn-small {
    /* border: 2px solid orange; */
    /* background-color: orange; */
    border-radius: 4px;
}

p {
    font-size: 18px;
}
.about-hr {
    width: 60px;
    border-width: 4px;
    color: orange;
    margin: auto auto;
    padding-bottom: 1.2rem;
}
.about-me p a {
        text-decoration: none;
}

/* project  */

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.visit {
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.visit:hover {
    background-color: white !important;
    border: 2px solid rgb(56, 56, 56) !important;
}
/* footer  */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;

}
.social-container {
    width: 30px;
    height: 30px;
    margin: 20px;

}
.social-container img {
    width: 100%;
    height: 100%;
    filter: grayscale(0.6);
}
/* .contact-header {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 1rem;
} */
 .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
} 
.mail-container, .phone-container {
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC107;
    padding: 0.5rem 1rem;
}
.contact-container a {
    margin-left: 0.5rem;
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .contact-header {
        flex-direction: column;
    }
} 




/* 